aiodns==3.6.1
aiofile==3.9.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-client-cache==0.11.1
aiosignal==1.4.0
aiosqlite==0.20.0
akracer==0.0.14
akshare==1.18.6
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
baostock==0.8.9
beautifulsoup4==4.14.3
caio==0.9.25
cattrs==25.3.0
ccxt==4.5.30
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
coincurve==21.0.0
courlan==1.3.2
cryptofeed==2.4.1
cryptography==46.0.3
curl_cffi==0.13.0
dateparser==1.2.2
decorator==5.2.1
deepdiff==8.6.1
defusedxml==0.7.1
et_xmlfile==2.0.0
fastapi==0.128.0
fredapi==0.5.2
frozendict==2.4.7
frozenlist==1.8.0
h11==0.16.0
html5lib==1.1
htmldate==1.9.4
idna==3.11
importlib_metadata==8.7.1
inscriptis==2.7.0
itsdangerous==2.2.0
jsonpath==0.82.2
jusText==3.0.2
lxml==5.4.0
lxml_html_clean==0.4.3
multidict==6.7.0
multitasking==0.0.12
nest-asyncio==1.6.0
numpy==2.4.0
openbb==4.6.0
openbb-benzinga==1.5.1
openbb-bls==1.2.1
openbb-cftc==1.2.1
openbb-commodity==1.4.2
openbb-congress-gov==1.1.1
openbb-core==1.5.8
openbb-crypto==1.5.1
openbb-currency==1.5.1
openbb-derivatives==1.5.1
openbb-econdb==1.4.1
openbb-economy==1.5.1
openbb-equity==1.5.1
openbb-etf==1.5.1
openbb-federal-reserve==1.5.1
openbb-fixedincome==1.5.1
openbb-fmp==1.5.2
openbb-fred==1.5.1
openbb-government-us==1.5.2
openbb-imf==2.0.0
openbb-index==1.5.1
openbb-intrinio==1.5.1
openbb-news==1.5.1
openbb-oecd==1.5.1
openbb-platform-api==1.2.3
openbb-polygon==1.5.1
openbb-regulators==1.5.1
openbb-sec==1.5.1
openbb-tiingo==1.5.1
openbb-tradingeconomics==1.5.1
openbb-us-eia==1.2.1
openbb-yfinance==1.5.2
openpyxl==3.1.5
order_book==0.6.1
orderly-set==5.5.0
pandas==2.3.3
pandas-datareader==0.10.0
peewee==3.18.3
platformdirs==4.5.1
propcache==0.4.1
protobuf==6.33.2
psycopg==3.3.2
psycopg-binary==3.3.2
psycopg-pool==3.3.0
py-mini-racer==0.6.0
pycares==4.11.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
QuantLib==1.40
random-user-agent==1.0.1
regex==2025.11.3
requests==2.32.5
requests-cache==1.2.1
ruff==0.13.3
setuptools==80.9.0
six==1.17.0
soupsieve==2.8.1
starlette==0.50.0
tabulate==0.9.0
tld==0.13.1
tqdm==4.67.1
trafilatura==2.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
url-normalize==1.4.3
urllib3==2.6.2
uuid7==0.1.0
uvicorn==0.40.0
uvloop==0.22.1
webencodings==0.5.1
websockets==15.0.1
xlrd==2.0.2
xmltodict==0.13.0
yapic.json==1.9.5
yarl==1.22.0
yfinance==0.2.66
zipp==3.23.0
